
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
*.ipch
*.db
*.obj
*.exe
*.pdb
*.tlog
VectorTemplate/Debug/VectorTemplate.vcxproj.FileListAbsolute.txt
VectorTemplate/Debug/VectorTemplate.log
VectorTemplate/Debug/VectorTemplate.ilk
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
VectorTemplate/.vs/VectorTemplate/v16/.suo
*.log
*.idb
*.db
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
wxWidgets/HelloWorldWithNoFrame/.vs/HelloWorldWithNoFrame/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.recipe
*.ilk
wxWidgets/HelloWorldWithNoFrame/Debug/HelloWorldWithNoFrame.vcxproj.FileListAbsolute.txt
wxWidgets/HelloWorld/.vs/HelloWorld/v16/.suo
wxWidgets/HelloWorld/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/HelloWorld/x64/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/LabLayout/.vs/LabLayout/v16/.suo
wxWidgets/LabLayout/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/LabLayout/Debug/LabLayout.vcxproj.FileListAbsolute.txt
wxWidgets/LabSizer/.vs/LabSizer/v16/.suo
wxWidgets/ToolBar/.vs/ToolBar/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
wxWidgets/ToolBar/Debug/ToolBar.vcxproj.FileListAbsolute.txt
