
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
*.ipch
*.db
*.obj
*.exe
*.pdb
*.tlog
VectorTemplate/Debug/VectorTemplate.vcxproj.FileListAbsolute.txt
VectorTemplate/Debug/VectorTemplate.log
VectorTemplate/Debug/VectorTemplate.ilk
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
VectorTemplate/.vs/VectorTemplate/v16/.suo
*.log
*.idb
*.db
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
wxWidgets/HelloWorldWithNoFrame/.vs/HelloWorldWithNoFrame/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.recipe
*.ilk
wxWidgets/HelloWorldWithNoFrame/Debug/HelloWorldWithNoFrame.vcxproj.FileListAbsolute.txt
wxWidgets/HelloWorld/.vs/HelloWorld/v16/.suo
wxWidgets/HelloWorld/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/HelloWorld/x64/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/LabLayout/.vs/LabLayout/v16/.suo
wxWidgets/LabLayout/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
wxWidgets/LabLayout/Debug/LabLayout.vcxproj.FileListAbsolute.txt
wxWidgets/LabSizer/.vs/LabSizer/v16/.suo
wxWidgets/ToolBar/.vs/ToolBar/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
wxWidgets/ToolBar/Debug/ToolBar.vcxproj.FileListAbsolute.txt
wxWidgets/AuiToolBar/.vs/AuiToolBar.vcxproj/v16/.suo
wxWidgets/AuiToolBar/.vs/AuiToolBar/v16/.suo
wxWidgets/AuiToolBar/x64/Debug/AuiToolBar.vcxproj.FileListAbsolute.txt
wxWidgets/AuiToolBar/Debug/AuiToolBar.vcxproj.FileListAbsolute.txt
wxWidgets/AuiApplications/.vs/AuiApplications/v16/.suo
wxWidgets/AuiApplications/AuiToolbar/Debug/AuiToolbar.vcxproj.FileListAbsolute.txt
wxWidgets/DocumentView/.vs/DocumentView/v16/.suo
wxWidgets/DocViewTutorial/01_DocView/Debug/01_DocView.vcxproj.FileListAbsolute.txt
wxWidgets/DocViewTutorial/01_DocView/Release/01_DocView.vcxproj.FileListAbsolute.txt
wxWidgets/DocViewTutorial/01_DocView/.vs/01_DocView/v16/.suo
wxWidgets/DocViewTutorial/03_DoodleEditor/.vs/03_DoodleEditor/v16/.suo
wxWidgets/DocViewTutorial/03_DoodleEditor/.vs/03_DoodleEditor/v16/.suo
wxWidgets/DocViewTutorial/03_DoodleEditor/.vs/03_DoodleEditor/v16/.suo
wxWidgets/DocViewTutorial/03_DoodleEditor/.vs/03_DoodleEditor/v16/.suo
wxWidgets/AuiCfPrototype/.vs/AuiCfPrototype/v16/.suo
wxWidgets/AuiCfPrototype/Debug/AuiCfPrototype.vcxproj.FileListAbsolute.txt
wxWidgets/AuiCfPrototype/Debug/lang/en.txt
wxWidgets/AuiCfPrototype/Debug/lang/ru.txt
wxWidgets/AuiCfPrototype/Debug/lang/ua.txt
wxWidgets/AuiCfPrototype/Debug/setting/settings.ini
wxWidgets/AuiCfPrototype/src/_icons/16_16/add.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/align.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/change.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/delete.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/effeccts2.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/effects.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/new.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/open.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/play.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/plus.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/pointer.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/remove.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/save.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/stop.bmp
wxWidgets/AuiCfPrototype/src/_icons/16_16/write_program.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/add.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/add2.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/delete.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/delete2.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/edit.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/effects.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/new.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/open.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/paint.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/play.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/pointer.bmp
wxWidgets/AuiCfPrototype/src/_icons/48_48/save.bmp
wxWidgets/AuiCfPrototype/src/_icons/readme.txt
wxWidgets/AuiCfPrototype/src/_icons/icons.zip
wxWidgets/CFPrototype/.vs/CFPrototype/v16/.suo
Debug
.vs
.vs
Debug
.vs
Debug
