
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
*.ipch
*.db
*.obj
*.exe
*.pdb
*.tlog
VectorTemplate/Debug/VectorTemplate.vcxproj.FileListAbsolute.txt
VectorTemplate/Debug/VectorTemplate.log
VectorTemplate/Debug/VectorTemplate.ilk
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
VectorTemplate/.vs/VectorTemplate/v16/.suo
*.log
*.idb
*.db
consoleAppVector/Vector/.vs/Vector/v16/.suo
consoleAppVector/Vector/.vs/Vector/v16/Browse.VC.db
wxWidgets/HelloWorldWithNoFrame/.vs/HelloWorldWithNoFrame/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.recipe
*.ilk
wxWidgets/HelloWorldWithNoFrame/Debug/HelloWorldWithNoFrame.vcxproj.FileListAbsolute.txt
